coregen-tmp/
xlnx_auto*
xst/
_xmsgs/
._*
.bgn
.bit
.bld
.bmm
.cfi
.csv
.drc
.DS_Store
.grf
.lso
.lst
.map
.mcs
.mrp
.ncd
.ngc
.ngd
.ngm
.par
.pad
.par
.pcf
.post_map.*
.prj
.prm
.psr
.ptwx
.scr
.srp
.twr 
.twx
.txt
.unroutes
.xml
.xpi
.xrpt