NET "*" IOSTANDARD = LVTTL;

CONFIG PROHIBIT=P47;

#CLOCKS
#NET CLK_50		LOC="P51" | TNM_NET=TNM_CLK_50;
#TIMESPEC TS_CLK_50 = PERIOD TNM_CLK_50 20ns;
NET CLK_32		LOC="P94" | PERIOD=31.25ns;
#NET <top_level_port> TNM_NET = tnm_<top_level_port>;
#TIMESPEC TS_<top_level_port> = PERIOD tnm_<top_level_port> 10ns;

#Config ENABLE_SUSPEND = "UNFILTERED";
# LEDs
NET "leds<3>"	LOC="P101";
NET "leds<2>"	LOC="P102";
NET "leds<1>"	LOC="P104";
NET "leds<0>"	LOC="P105";

## SELECT MAP
#NET "selectmap<0>" LOC="P65";
#NET "selectmap<1>" LOC="P62";
#NET "selectmap<2>" LOC="P61";
#NET "selectmap<3>" LOC="P46";
#NET "selectmap<4>" LOC="P45";
#NET "selectmap<5>" LOC="P44";
#NET "selectmap<6>" LOC="P43";
#NET "selectmap<7>" LOC="P48";

# CONFIG


# SPI Flash
NET flash_sck LOC="P70";
NET flash_miso LOC="P65";
NET flash_mosi LOC="P64";
NET flash_wp LOC="P62";
NET flash_ce LOC="P38";
NET flash_hold LOC="P61";

# SPI MCU
NET mcu_sck LOC="P75";
NET mcu_miso LOC="P74";
NET mcu_mosi LOC="P78";
NET mcu_ce LOC="P66";
