
# fix for mapping errors
#PIN "ul/nn/net/buff.O" CLOCK_DEDICATED_ROUTE = FALSE;
#INST "ul/nn/net/buff" LOC = BUFGMUX_X3Y8;
#NET "mcu_ale" CLOCK_DEDICATED_ROUTE = FALSE;
# PIN "clk_32_IBUF_BUFG.O" CLOCK_DEDICATED_ROUTE = FALSE;
NET "clk_32" CLOCK_DEDICATED_ROUTE = FALSE;
#PIN "clk_50_IBUF_BUFG.O" CLOCK_DEDICATED_ROUTE = FALSE;
#NET "clk_50" CLOCK_DEDICATED_ROUTE = FALSE;