NET "*" IOSTANDARD = LVTTL;

CONFIG PROHIBIT=P47;

#CLOCKS
NET CLK_50		LOC="P51" | PERIOD=20ns;
#TIMESPEC TS_CLK_50 = PERIOD TNM_CLK_50 20ns;
NET CLK_32		LOC="P94" | PERIOD=31.25ns;
#NET <top_level_port> TNM_NET = tnm_<top_level_port>;
#TIMESPEC TS_<top_level_port> = PERIOD tnm_<top_level_port> 10ns;

# FLASH
# NET "flash_ce" LOC="P38";
# NET "flash_si" LOC="P64"; # MCU_AD<4>
# flash_sck CCLK
# flash_so MCU_AD<7>
# flash_wp MCU_AD<6>
# flash_hold MCU_AD<5>

# SPI
NET FLASH_CS LOC="P38";
NET FLASH_MOSI LOC="P64"; # MCU_AD<4>
NET CCLK_FLASH_CLK LOC="P70";
NET FLASH_AVAILABLE LOC="P1"; # GPIO 0
# SPI_MISO MCU_AD<7>
# flash_wp MCU_AD<6>
# flash_hold MCU_AD<5>

#Config ENABLE_SUSPEND = "UNFILTERED";
# LEDs
NET "leds<3>"	LOC="P101";
NET "leds<2>"	LOC="P102";
NET "leds<1>"	LOC="P104";
NET "leds<0>"	LOC="P105";

## SELECT MAP
#NET "selectmap<0>" LOC="P65";
#NET "selectmap<1>" LOC="P62";
#NET "selectmap<2>" LOC="P61";
#NET "selectmap<3>" LOC="P46";
#NET "selectmap<4>" LOC="P45";
#NET "selectmap<5>" LOC="P44";
#NET "selectmap<6>" LOC="P43";
#NET "selectmap<7>" LOC="P48";

# CONFIG
# NET CCLK LOC="P70";

# GPIO
# NET "gpio<0>" LOC="P1";
# NET "gpio<1>" LOC="P2";
# NET "gpio<2>" LOC="P5";
# NET "gpio<3>" LOC="P6";
# NET "gpio<4>" LOC="P7";
# NET "gpio<5>" LOC="P8";
# NET "gpio<6>" LOC="P9";
# NET "gpio<7>" LOC="P10";
# NET "gpio<8>" LOC="P11";
# NET "gpio<9>" LOC="P12";

# NET "gpio<10>" LOC="P14";
# NET "gpio<11>" LOC="P15";
# NET "gpio<12>" LOC="P16";
# NET "gpio<13>" LOC="P17";

# NET "gpio<14>" LOC="P21";
# NET "gpio<15>" LOC="P22";
# NET "gpio<16>" LOC="P23";
# NET "gpio<17>" LOC="P24";
# NET "gpio<18>" LOC="P27";
# NET "gpio<19>" LOC="P26";


# XMEM
NET "MCU_AD<0>" LOC="P26"; # 19
NET "MCU_AD<1>" LOC="P27"; # 18
NET "MCU_AD<2>" LOC="P24";
NET "MCU_AD<3>" LOC="P23";
NET "MCU_AD<4>" LOC="P22";
NET "MCU_AD<5>" LOC="P21";
NET "MCU_AD<6>" LOC="P17";
NET "MCU_AD<7>" LOC="P16";
NET "MCU_ALE" LOC="P15"; # 11
NET "MCU_A<8>" LOC="P14";
NET "MCU_A<9>" LOC="P12";
NET "MCU_A<10>" LOC="P11";
NET "MCU_A<11>" LOC="P10"; # 7
NET "MCU_A<12>" LOC="P9";
NET "MCU_A<13>" LOC="P8";
NET "MCU_A<14>" LOC="P7";
# NET "MCU_A<15>" LOC="P6";
# NET "MCU_A<14>" LOC="P";
NET "MCU_WR" LOC="P5"; # 2
NET "MCU_RD" LOC="P2"; # 1
